<form method="post" action="{{ path('app_my_prof_delete', {'id': my_profile.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ my_profile.id) }}">
    <button class="btn">Delete</button>
</form>
